<body>
        <div id="header"> 
            &nbsp;
            </div>
    <div id="wrapper">
        <table>
            <th>
                <div id="sidebar-wrapper">
                    <ul class="sidebar-nav">
                        <li>
                            <a routerLink="/equipment">Equipment</a>
                        </li>
                        <li>
                            <a routerLink="/customer">Kunden</a>
                        </li>
                        <li>
                            <a routerLink="/rental">Verleih</a>
                        </li>
                    </ul>
                </div>

            </th>


            <th>



                                <!-- CONTENT Begin-->

<!-- Table Begin-->
                <div class="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <p></p>
                                <div class="row">
                                    <p></p>
                                    <div class="col-md-10 col-md-offset-1">
                                        <div class="panel panel-default panel-table">


                                            

                                            <div class="panel-body">
                                                <table class="table table-striped table-bordered table-list" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                <em class="fa ddfa-cog"></em>
                                                            </th>

                                                            <th>Name</th>
                                                            <th>Vorname</th>
                                                            <th>Geburtstag</th>
                                                            <th>Anschrift</th>

                                                            <th class="hidden-xs">ID</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td align="center">
                                                                <a class="btn btn-danger">
                                                                    x
                                                                </a>
                                                            </td>

                                                            <td>Potter</td>
                                                            <td>Harry</td>
                                                            <td>31.07.1980</td>
                                                            <td>Grimmauld Place 12</td>

                                                            <td class="hidden-xs">1</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                           


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
 <!-- Table End -->
                <!-- Edit Panel Begin-->
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <p>Neuer Kunde</p>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <input class="form-control" id="firstName" type="text" aria-describedby="nameHelp" placeholder="Vorname">
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" id="lastName" type="text" aria-describedby="nameHelp" placeholder="Name">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <input class="form-control" id="birthday" type="date">
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" id="phonenumber" type="tel" placeholder="Telefonnummer">
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-9">
                                    <input class="form-control" id="street" type="text" aria-describedby="nameHelp" placeholder="Straße">
                                </div>
                                <div class="col-md-3">
                                    <input class="form-control" id="streetnumber" type="text" aria-describedby="nameHelp" placeholder="Nr">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-3">
                                    <input class="form-control" id="zipcode" type="text" aria-describedby="nameHelp" placeholder="PLZ">
                                </div>
                                <div class="col-md-9">
                                    <input class="form-control" id="city" type="text" aria-describedby="nameHelp" placeholder="Ort">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input class="form-control" id="country" type="text" aria-describedby="nameHelp" placeholder="Land">
                        </div>

                        <br>

                        <div class="form-group">
                            <input class="form-control" id="email" type="email" aria-describedby="emailHelp" placeholder="E-Mail">
                        </div>



                        <div class="col col-xs-6 text-right">
                            <button type="button" class="btn btn-create">Hinzufügen</button>
                        </div>
                    </form>
                </div>
                <!-- Edit Panel End-->

                <!-- CONTENT End-->
            </th>
        </table>
    </div>
</body>
